
<p-tabMenu [model]="items"   [activeItem]="items[1]" #tab (click)="onTabchange(tab)">
    <ng-template pTemplate="item" let-item let-i="index">
        <span >{{item.label}}</span>
    </ng-template>
</p-tabMenu>

<router-outlet></router-outlet>
