<h2>Employee: </h2>

<div class="count-class">
    <button pButton label="Departments Count" class="tableHeaderClass p-button-outlined p-button-info"
        (click)="departhmetnCount()"></button>

    <span class="departments-count ">
        <span class="department-chiled" *ngFor="let property of resultDepartmentCount  | objectPipe">
            {{property}} : {{resultDepartmentCount[property]?.length}}
        </span>
    </span>

</div>



<div>
    <p-table #dt1 [columns]="cols" [value]="candidateData" [scrollable]="true" scrollHeight="49vh"
        [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">

                <span class="tableHeaderClass p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search by name" />
                </span>
                <button pButton label="Experience 2Yrs" class="tableHeaderClass p-button-outlined p-button-info"
                    (click)="experienceTwoYears()"></button>
                <button pButton label="Development Candidates"
                    class="tableHeaderClass p-button-outlined p-button-danger" icon="pi pi-trash"
                    (click)="removeDevelopmentCandidate()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>

                <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                    {{col.header}}
                    <p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowdata let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowdata[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>