@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-blue/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

/* You can add global styles to this file, and also import other style files */

.padd10 {
    padding: 10px;
}
.tableHeaderClass.p-button {
    margin-right: 10px;
}

.tableHeaderClass {
    margin-right: 10px;
}

.count-class {
    margin-bottom: 10px;
}
